@import "base.less";
@color_body: #333333;
@color-1: #2bc8ed;
@color-2: #22b6e7;
@color-3: #19a4e1;
@color-4: #63d1c4;
@color-5: #4fc1b0;
@color-6: #3bb19c;
@color-7: #f48f63;
@color-8: #f2724f;
@color-9: #ef553b;
@color-10: #414a4e;
@color-11: #74848b;
@color-12: #a1aaae;
@color-13: #d3d9dc;
@color-14: #eceff1;
body {
    background: @color_body;
    color: white;
}

.view {
    height: 100%;
    main {
        height: 100%;
        /*导航*/
        .article {
            height: 100%;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            .navbar {
                color: white;
                background-color: inherit;
                border: none;
                margin: 0;
                .container-fluid {
                    border-bottom: 1px solid #FAED26;
                    .navbar-brand {
                        height: 50px;
                        margin: 0;
                        padding: 0;
                        background: url("../images/logo.jpg");
                        border-radius: 50%;
                        display: block;
                    }
                }
            }
            .show {
                width: 100%;
                height: 100%;
                flex: 1;
                margin-top: 25px;
                background: @color-12;
                .container-fluid{
                    height: 100%;
                    .rotate-box{
                        margin: 25px;
                        width: 45%;
                        // height: 80%;
                        background: yellowgreen;
                        perspective: 1000px;
                    }
                    .left-box{
                        width: 45%;
                        height: 85%;
                        position: relative;
                        .face{
                            width: 100%;
                            height: 100%;
                            background: yellow;
                        }
                    }
                }
            }
        }
        /*侧边菜单*/
        .menu {
            height: 100%;
            .profile {
                text-align: center;
                a {
                    display: block;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin: 20px auto;
                    background: url("../images/user-icon.jpg");
                    background-size: 50px 50px;
                    border: none;
                }
                a:focus {
                    outline: none;
                }
                .user-icon {
                    color: #FAED26;
                    cursor: pointer;
                }
            }
            .list {
                color: white;
                font-size: 14px;
                margin-top: 35px;
                li {
                    height: 75px;
                    .active {
                        background: @color-8;
                        text-decoration: none;
                        color: white;
                        font-size: 18px;
                    }
                    a {
                        display: block;
                        line-height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        margin: 0 auto;
                        text-align: center;
                        transition: all 1s linear;
                        &:hover {
                            text-decoration: none;
                        }
                        // &:focus {
                        //     background: @color-8;
                        //     text-decoration: none;
                        //     color: white;
                        //     font-size: 18px;
                        // }
                    }
                }
            }
        }
    }
}