body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  /* 移动端 a标签 点击高亮 */
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  /* 解决图片默认的3像素  */
  display: block;
}
input,
fieldset,
img,
button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}
input {
  display: block;
  width: 100%;
  height: 100%;
}
table {
  border-collapse: collapse;
}
s,
i,
em {
  font-style: normal;
  text-decoration: none;
}
/* 清楚浮动 */
.clearfix::after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 12px;
}
body {
  background: #333333;
  color: white;
}
.view {
  height: 100%;
}
.view main {
  height: 100%;
  /*导航*/
  /*侧边菜单*/
}
.view main .article {
  height: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.view main .article .navbar {
  color: white;
  background-color: inherit;
  border: none;
  margin: 0;
}
.view main .article .navbar .container-fluid {
  border-bottom: 1px solid #FAED26;
}
.view main .article .navbar .container-fluid .navbar-brand {
  height: 50px;
  margin: 0;
  padding: 0;
  background: url("../images/logo.jpg");
  border-radius: 50%;
  display: block;
}
.view main .article .show {
  width: 100%;
  height: 100%;
  flex: 1;
  margin-top: 25px;
  background: #a1aaae;
}
.view main .article .show .container-fluid {
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.view main .article .show .container-fluid .rotate-box {
  margin: 0 25px;
  width: 45%;
  height: 80%;
  background: red;
}
.view main .menu {
  height: 100%;
}
.view main .menu .profile {
  text-align: center;
}
.view main .menu .profile a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px auto;
  background: url("../images/user-icon.jpg");
  background-size: 50px 50px;
  border: none;
}
.view main .menu .profile a:focus {
  outline: none;
}
.view main .menu .profile .user-icon {
  color: #FAED26;
  cursor: pointer;
}
.view main .menu .list {
  color: white;
  font-size: 14px;
  margin-top: 35px;
}
.view main .menu .list li {
  height: 75px;
}
.view main .menu .list li .active {
  background: #f2724f;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.view main .menu .list li a {
  display: block;
  line-height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  transition: all 1s linear;
}
.view main .menu .list li a:hover {
  text-decoration: none;
}
